<!DOCTYPE html>
<html>
<head>
  <title>GeneradorOpengl</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
	<div class="col-md-2">

	</div>
	<div class="col-md-10" role"main">
		<%= yield %>
	</div>
	<div class="col-md-2"></div>
</div>

</body>
</html>
